<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dwa Balony</title>
  <link rel="stylesheet" href="/script/style.css">
</head>

<body>

  <div class="clock-container">
    <div class="clock">
      <div class="hour-hand"></div>
    </div>
  </div>
  <div class="balon-container" id="balon-czerwony">
    <div class="balon" style="--primary-color: #ff5f57; --secondary-color: #e25f4f;">
      <div class="otwor"></div>
    </div>
    <div class="trojkat" style="--primary-color: #ff5f57; --secondary-color: #e25f4f;"></div>
    <div class="sznurek">
      <svg viewBox="0 0 10 200">
        <path d="M0 0 Q10 20 0 40 T0 80 T0 120 T0 160"></path>
      </svg>
    </div>
  </div>

  <div class="balon-container" id="balon-niebieski">
    <div class="balon" style="--primary-color: #4f83e2; --secondary-color: #3b72d0;">
      <div class="otwor"></div>
    </div>
    <div class="trojkat" style="--primary-color: #4f83e2; --secondary-color: #3b72d0;"> </div>
    <div class="sznurek">
      <svg viewBox="0 0 10 200">
        <path d="M0 0 Q10 20 0 40 T0 80 T0 120 T0 160"></path>
      </svg>
    </div>
  </div>
  <audio id="explosionSound" src="/script/explosion.mp3"></audio>
  <audio id="plump1" src="/script/plump1.mp3"></audio>
  <audio id="plump2" src="/script/plump2.mp3"></audio>
  <audio id="plump3" src="/script/plump3.mp3"></audio>
  <audio id="plump4" src="/script/plump4.mp3"></audio>
  <audio id="plump5" src="/script/plump5.mp3"></audio>
  <audio id="plump6" src="/script/plump6.mp3"></audio>
  <audio id="plump7" src="/script/plump7.mp3"></audio>
  <audio id="plump8" src="/script/plump8.mp3"></audio>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
  <script src="/script/script.js"></script>

</body>

</html>